html {
    min-height: 100%; /* Look, it's not fixed anymore! */

    display: flex;
    flex-direction: column;
}

body {
    background: rgb(238,0,180);
    background: linear-gradient(180deg, rgba(238,0,180,1) 0%, rgba(121,9,81,1) 92%, rgba(32,0,51,1) 95%);
    flex-grow: 1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1, h2, h3 {
    color: #202;
}
canvas {
    border: none;
}
.highlight {
    color: #faf;
    font-weight: 400;
}
form#controls {
    width: 20em;
    display: flex;
    flex-wrap: wrap;
}
form#controls label {
    width: 10em;
    padding-top: 0.4em;
    color: rgba(255,255,255,0.8);
    margin-bottom: 0.2em;
}
form#controls input {
    width: 10em;
    background: rgba(255,100,255,0.5);
    border: 0;
    color: #fff;
    border-radius: 0.5em;
    padding: 1em 1em;
    margin-bottom: 0.2em;

}